<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8"/>
    <title>同步资源</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
</head>
<body class="grey lighten-1">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/sync.js"></script>
<div class="card-panel">
    <div class="row s12 container">
        <div class="input-field col s6">
            <input placeholder="from_appid" id="from_appid" type="text" class="validate" value="cdrorYuyAOa79">
            <label for="from_appid">
                <span class="black-text">From Appid</span>
            </label>
        </div>
        <div class="input-field col s6">
            <input placeholder="to_appid" id="to_appid" type="text" class="validate" value="cdrorFpVkgNVb">
            <label for="to_appid">
                <span class="black-text">To Appid</span>
            </label>
        </div>
    </div>
    <div class="row s12 container">
        <div class="input-field col s6">
            <input placeholder="from_appsecret" id="from_appsecret" type="text" class="validate" value="ldc2tCh8">
            <label for="from_appsecret">
                <span class="black-text">From Appsecret</span>
            </label>
        </div>
        <div class="input-field col s6">
            <input placeholder="to_appsecret" id="to_appsecret" type="text" class="validate" value="p78nKjI6">
            <label for="to_appsecret">
                <span class="black-text">To Appsecret</span>
            </label>
        </div>
    </div>
    <div class="row s12 container">
        <div class="center-align col s5">
            <a class="waves-effect waves-light btn-large" id="comparison" onclick="comparison()"><i
                    class="mdi-file-cloud left"></i>比对</a>
        </div>
        <div class="center-align col s2">
            <button class="material-icons z-depth-1">repeat</button>
        </div>
        <div class="center-align col s5">
            <a class="waves-effect waves-light btn-large" id="sync" onclick="sync()"><i class="mdi-file-cloud left"></i>同步</a>
        </div>
    </div>
</div>
<div id="circle" style='width: 200px;margin: 0 auto'></div>
<div id="compare_date" ></div>
</body>
</html>